.playertoclub{
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .title{
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 3rem;
 
  }
    button{
      width: 200px;
      height: 30px;
      border: none;
      background-color: greenyellow;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
    button{
      width: 200px;
      height: 30px;
      border: none;
      background-color: rgb(255, 106, 131);
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

  

  
}